# ----------
# API Keys and Secrets (CRITICAL)
# ----------
.env
firebase-key.json

# ----------
# Backend (Python / Flask)
# ----------
venv/
env/
__pycache__/
*.pyc
temp.pdf
temp_resume.pdf
instance/
mockpro.db

# ----------
# Frontend (React)
# ----------
node_modules/
build/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/